<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>Email</h4>
    </div>
     <div class="col-md-3">
      <h4>First name</h4>
    </div>
    <div class="col-md-2">
      <h4>Last name</h4>
    </div>
  </div>
  <% @users.each do |user| %>
    <div class="row well">
      <div class="col-md-3">
        <h4> <%= user.email %> </h4>
      </div>
      <div class="col-md-3">
        <h4> <%= user.first_name %> </h4>
      </div>
      <div class="col-md-2">
        <h4> <%= user.last_name %> </h4>
      </div>
      <div class="col-md-1">
        <h4> <%= link_to 'View Questions', user_path(user), class: 'btn btn-primary' %> </h4>
      </div>
      <div class="col-md-1">
      </div>
       <div class="col-md-1">
        <h4> <%= link_to 'Add Interest', interests_user_path(user), class: 'btn btn-primary' %> </h4>
      </div>
    </div>
  <% end %>
</div>
