<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>Email</h4>
    </div>
     <div class="col-md-3">
      <h4>First name</h4>
    </div>
    <div class="col-md-3">
      <h4> Last name</h4>
    </div>
  </div>
  <div class="row well">
    <div class="col-md-3">
      <h4> <%= @user.email %> </h4>
    </div>
    <div class="col-md-3">
      <h4> <%= @user.first_name %></h4>
    </div>
    <div class="col-md-3">
      <h4> <%= @user.last_name %></h4>
    </div>
    <div class="col-md-3">
      <h4> <%= link_to 'Add Question', new_question_path(user_id: @user.id), class: 'btn btn-primary' %></h4>
    </div>
  </div>

  <%= render 'questions/user_questions', user: @user %>
</div>